name: Test S3 Connection

on:
  push:
    branches:
      - main

jobs:
  test-s3:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: List S3 Bucket Contents
        run: |
          echo "Listing files in S3 bucket..."
          aws s3 ls s3://${{ secrets.S3_BUCKET }}/
